<!-- DEFINE LOCAL IMGAE FOR BANNER -->
<!-- Image is going to be behind the container: mood setting effect -->
<!-- Look fo muted colors in imagery -->
<% local_image = "background-image:image_url('coffee-single.jpg')" %>
<!-- linear-gradient(#D6C1A6, #ECDAC4, #D6C1A6) -->

<div class="banner" style="background:linear-gradient(#D6C1A6, #ECDAC4, #D6C1A6)" >

  <div class="container-content-box">
    <div class="container-1">
      <h1>Get coffinated and get going</h1>
      <p>Find us end get your daily dose of goods vibes ... and dare we say it, even better coffee!</p>
    </div>
    <div class="container-2" style="background:linear-gradient(#D6C1A6, #ECDAC4, #D6C1A6)" >
    </div>
  </div>

</div>


<div class="locations-container">
  <h2 style="text-align:center"><strong>SHOP LOCATIONS</strong></h2>

  <hr>

  <% @shops.each do |shop| %>
    <div class="card-shop">
      <div class="shop-location">
        <% shop.id == 3 ? headline = 'Maastricht' : headline = 'Amsterdam' %>
        <h3><%= headline %> X Coffee & Lovin'</h3>
      </div>
      <hr>
      <div class="shop-info">
        <div class="shop-content">
          <p><%= shop.description %></p>
          <div class="shop-opening-hours">
            <table>
            <tr><th colspan="2">Opening Hours</th></tr>
            <tr><th>Sunday</th><td>Closed</td></tr>
            <tr><th>Monday</th><td>9am - 5pm</td></tr>
            <tr><th>Tuesday</th><td>9am - 5pm</td></tr>
            <tr><th>Wednesday</th><td>9am - 5pm</td></tr>
            <tr><th>Thursday</th><td>9am - 5pm</td></tr>
            <tr><th>Friday</th><td>9am - 5pm</td></tr>
            <tr><th>Saturday</th><td>9am - 5pm</td></tr>
            <tr><th>Sunday</th><td>9am - 5pm</td></tr>
            </table>
          </div>
          <div class="shop-manager">
           <%= image_tag "avatar-default.jpg", class: "shop-manager-profile" %>
           <div class="description">
             <p class="manager-name"><%= shop.shop_manager %></p>
             <p class="lovely-note">SHOP MANAGER | Lovely Person</p>
           </div>
          </div>
        </div>
        <div class="shop-map">

        </div>
      </div>
    </div>


  <% end %>
</div>


 <%#= image_tag "IMG_0318.png", class: 'element-location-hero' %>
