.navbar-lewagon {
  justify-content: space-between;
  align-items: center;
  min-height: 8vh;
  background-color: transparent;
  transition: 0.5s background-color ease;
  padding-left: 80px !important;
  padding-right: 80px !important;
  img {
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
  p  {
    color: white;
    padding: 0px 24px
  }
  .navbar-nav .nav-item > .nav-link {
    color: white;
    font-size: 1.25em;
  }
  .navbar-nav .active {
    font-weight: bold;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 2.2em;
}

.navbar-lewagon-white {
  background-color: white;
  p  {
    color: black;
  }
  .navbar-nav .nav-item > .nav-link {
    color: black;
  }
}




// TODO -> make NAVBAR responsive down the road
