<div class="banner" style="background:linear-gradient(#e66465, #9198e5)" >

  <div class="container-content-box">
    <div class="container-1">
      <h1>Go on a ride with us</h1>
      <p>After gathering at one of our shops and filling our batteries with some sweet, sweet coffee, we break out on lovely ride with some people of our community.</p>
    </div>
    <div class="container-2" style="background:linear-gradient(#e66465, #9198e5)" >
    </div>
  </div>

  <div class="scroll-promt">
    <i class="far fa-arrow-alt-circle-down"></i>
    <h3>Learn more about us</h3>
  </div>
</div>

<div class="container justify-content-center">
  <h2 style="text-align:center"><strong>RIDES</strong></h2>

  <hr>

  <div class="rides-container">
    <% @rides.each do |ride| %>
      <div class='card-ride'>
        <%= image_tag 'rides-placeholder.jpg' %>
        <div class="ride-info">
          <p class="headline"><%= ride.title.upcase %></p>
          <p><%= ride.content[0..100] %> ...</p>
          <div>
            <%= link_to ride_path(ride.id) do %>
              <p class="button button-info">Read more ...</p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>

</div>



</div>

