<div class='rides-banner' style="background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.2)),url('https://source.unsplash.com/1600x900/?landscape,roads')">
  <h1><%= @ride.title.upcase %></h1>
</div>

<div class="container">
  <h2 style="text-align:center"><strong>WHAT WE WERE UP TO:</strong></h2>
  <hr>
  <p><%= @ride.content %></p>
</div>
